#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# Fingerprint
CONFIG_FINGERPRINT_FPC_1540=m
CONFIG_FINGERPRINT_GOODIX_3626=m

# Override
CONFIG_UNAME_OVERRIDE=y
CONFIG_UNAME_OVERRIDE_TARGET="com.google.android.gms,com.tencent.tmgp"
CONFIG_UNAME_OVERRIDE_STRING="5.10.236-android12-9-00003-gfb24cf99ad97-ab14313284"

# Network
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_BIC=n
CONFIG_TCP_CONG_WESTWOOD=y
CONFIG_TCP_CONG_HTCP=y
CONFIG_TCP_CONG_BBR=y
CONFIG_DEFAULT_WESTWOOD=y

# Power
CONFIG_BQ_FG_UPDATE=y
CONFIG_HAVE_CHARGE_TEMP=y

# Touchscreen
CONFIG_TOUCHSCREEN_GOODIX_BRL_9916R=m
